footer {
    background-image: radial-gradient(#D6DBDF, #AED6F1);
    color: black;
    font-size: 1.5rem;
   height: 150px;
    display: flex;
    align-items: left;
    justify-content: center;
    grid-area: footer;
}