.form1 {
    text-transform: uppercase;
    font-size: 1.5rem;
}
.form1:hover{
    color: blue;
}
h2 {
    text-transform: uppercase;
    font-size: 3rem;
}
.listaPrecio {
    border-radius: 10px;
    margin-top: 50px;
    padding-top: 50px;
}