$color-texto: black;
$tamaño-fuente:2rem;

* {
    margin: 0;
    padding: 0;
}
nav {
    
        background-image: radial-gradient(#f3cfbf, #f09470);
    
}
.nav-link {
    
    color:$color-texto;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}
.nav-link:hover {
    color: blue;
}
.tamLogo {
    width: 150px;
}